@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        /*color: white;*/
    }
</style>

<div class="text-center">
    <h1>Welcome</h1>
    <h3>To</h3>
    <h2>Austine-Tech Communication</h2>
</div>
